



.dark .heroBG{
  background-image: none !important
}

.heroBG{
  background-image: url("/public/landing/hero-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
}

body{
  color: #263238;
  direction: rtl;
  font-family: 'yekan-medium';
  overflow-x: hidden

 }

 .dark{
  background: #111827;
  color:#b2b2f2;
 
 }
 .dark .landingInput{
  background: rgba(0, 0, 0, 0.1);
  border: 2px solid #b2b2f2;
   
 }

 .dark .LandingTeacher{
  background: #03031b;

 }

 .dark .landingInfo{
  color:#03031b;
 }
.dark .landingBigIcon{
  display: none;
}
.dark .courseTab{
  color:#b2b2f2;
}

 .dark .category{
  opacity: 0;
 }

 
 